<h3>Checkout</h3>
<br />

<label>Full name:</label>
<input type="text"/>
<br />
<label>Address:</label>
<input type="text" />
<br />
<label>Phone number:</label>
<input type="tel" />


<p>
    You will be redirected to the Utrust payment widget compatible with any major crypto wallets. It will allow you to pay for your purchase in a safe and seamless way using Bitcoin, Ethereum, Tether or a number of other currencies.
</p>

<img src="https://demo.store.utrust.com/wp-content/plugins/utrust-for-woocommerce/assets/images/checkout_image.png" />
<button class="btn btn-danger" id="utrust-checkout" type="button">Checkout</button>

<script src="~/js/checkout.js"></script>