@model ShopModel;
@{
    ViewData["Title"] = "Shop";
}

<div class="text-center">
    <h1 class="display-4">Shop</h1>
    <div class="row">
        @foreach (var product in Model.Products)
            {
                						<!-- Single Product -->
					  <div class="card mx-auto my-auto" style="width: 18rem;">
                      <img src="@product.ImgUrl" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h6 class="card-title">@product.Description</h6>
                        <p class="card-text">$@product.Price</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                      </div>
                    </div>
            }


    </div>
    

</div>
